:root {
  --main-ovca: #00ffca;
  --secondary-ovca: #00ddb9;
}

[data-theme=dark] {
  --main-color: #f8f8f8;
  --main-bg-color: #080808;
  --secondary-bg-color: #181818;
  --secondary-color: #e8e8e8;
}

[data-theme=light] {
  --main-color: #080808;
  --main-bg-color: #f8f8f8;
  --secondary-color: #181818;
  --secondary-bg-color: #e8e8e8;
}
[data-theme=light] #guide-inner img {
  filter: invert(1);
}
[data-theme=light] .overlay--strong {
  background-color: #eeeb;
}

[data-loaded] *:not(body, tr, .dropdown div, #item-menu button, .bar, input, button:hover, .button-clear, .checkmark) {
  transition: background-color 1s;
}
[data-loaded] body {
  transition: background-color 1s, color 1s;
}
[data-loaded] button:not(#item-menu button, button:hover, .button-clear) {
  transition: color 1s, background-color 1s, border-color 1s;
}

.overlay .fa-times, #tab-overlay .fa-times {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

button {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
  color: var(--main-bg-color) !important;
  margin: 0;
}

button:hover {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  color: var(--main-bg-color) !important;
}

button.button-clear,
button.button-outline {
  background-color: transparent !important;
  color: var(--main-color) !important;
}

.button-highlight, button[type=submit] {
  background-color: var(--main-ovca) !important;
  border-color: var(--main-ovca) !important;
  color: black !important;
  transition: none !important;
}

.button-highlight:hover, button[type=submit]:hover {
  background-color: var(--secondary-ovca) !important;
  border-color: var(--secondary-ovca) !important;
  color: black !important;
}

.button-highlight.button-clear,
.button-highlight.button-outline {
  color: #00ffca !important;
}

button.button-clear {
  border-color: transparent !important;
}

button.button-clear:hover {
  background-color: var(--secondary-bg-color) !important;
}

button[disabled] {
  pointer-events: none;
}

.button-small {
  font-size: 1rem;
  height: 3.3rem;
  line-height: 3.3rem;
  padding: 0 2.2rem;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}

input:focus, textarea:focus {
  border-color: var(--main-ovca) !important;
}

pre {
  border-left-color: var(--main-ovca);
}

td, th {
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-color: var(--secondary-bg-color);
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.mr-auto {
  margin-right: auto;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pr-5 {
  padding-right: 3rem !important;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
}

.loader {
  font-size: 1em;
  position: relative;
  text-indent: -9999em;
  border: 0.2em solid transparent;
  border-left-color: var(--main-color);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 2rem 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  display: flex;
  height: 2rem;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--secondary-bg-color);
}
.progress .bar {
  color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 2rem 2rem;
  background-color: var(--secondary-ovca);
  transition: width 0.75s;
  animation: progress-bar-stripes 1s linear infinite;
  background-image: linear-gradient(45deg, var(--main-ovca) 25%, transparent 25%, transparent 50%, var(--main-ovca) 50%, var(--main-ovca) 75%, transparent 75%, transparent);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0) inset !important;
  -webkit-text-fill-color: var(--main-color);
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill {
  background: var(--main-bg-color);
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--secondary-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.progressOverlay, .overlay, #tab-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 35vh 10vw;
  background-color: rgba(128, 128, 128, 0.4);
  top: 0;
  left: 0;
  z-index: 3;
}

.overlay, #tab-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.overlay form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 4rem;
  border-radius: 0.5rem;
  position: relative;
  background-color: var(--main-bg-color);
  width: 50%;
}
.overlay form [type=button] {
  align-self: flex-end;
}
.overlay form button[type=submit] {
  width: 100%;
}
.overlay .full {
  height: 90vh;
  width: 90vw;
}
.overlay .hold-view {
  box-sizing: border-box;
  padding: 5rem;
  max-width: 90vw;
  max-height: 90vh;
  background-color: var(--main-bg-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.overlay .hold-view .hold-text {
  width: 100%;
  height: 100%;
}
.overlay .hold-view img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5rem;
}
.overlay .hold-view .hold-text textarea {
  margin-top: 1rem;
  height: calc(100% - 3rem);
  background-color: var(--secondary-bg-color);
  resize: none;
  color: var(--main-color);
  font-family: monospace, monospace;
  padding: 1rem 1.5rem;
  font-size: 86%;
  line-height: 160%;
}
.overlay .hold-view .hold-text .hold-buttons {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
.overlay .hold-view .hold-text .hold-buttons button:not(:last-child) {
  margin-right: 1rem !important;
  display: inline-block;
}
.overlay .hold-view .hold-text .hold-buttons .dropdown div {
  padding: 1rem 2rem;
}
.overlay .hold-view .hold-text > pre {
  width: 100%;
  height: calc(100% - 3rem);
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: var(--secondary-bg-color);
}
.overlay .hold-view .hold-text > pre code {
  color: var(--main-color);
  background-color: var(--secondary-bg-color);
  width: calc(100% - 0.3rem);
  height: 100%;
  overflow: auto;
  padding: 10px;
  margin: 0;
  font-size: 86%;
  text-shadow: 0 -0.1em 0.2em var(--secondary-bg-color) !important;
  line-height: 1.6 !important;
}
.overlay .hold-view .hold-text #hold-editor {
  height: calc(100% - 3rem);
  overflow: auto;
  margin-top: 16px;
  width: 100%;
}
.overlay .hold-view .hold-text #hold-editor .w-tc-editor {
  border-radius: 0.5rem;
  border-left: 0.3rem solid var(--main-ovca);
  width: 100%;
  min-height: 100%;
}
.overlay .hold-view .hold-text #hold-editor .w-tc-editor pre {
  border: none !important;
  margin: 0 !important;
  background: inherit !important;
  box-shadow: none !important;
  padding: 0 !important;
  overflow-x: hidden;
}
.overlay .hold-view .hold-text #hold-editor .w-tc-editor pre code {
  display: inline !important;
  padding: 0 !important;
  background: inherit !important;
  font-size: inherit !important;
  margin: 0 !important;
  line-height: 160% !important;
  text-shadow: 0 -0.1em 0.2em var(--secondary-bg-color) !important;
  white-space: pre-wrap;
  color: var(--main-color);
  background-color: var(--secondary-bg-color);
}

.progress-bg, #profile, [id$=-inner] {
  box-sizing: border-box;
  padding: 4rem;
  border-radius: 0.5rem;
  position: relative;
  background-color: var(--main-bg-color);
  width: 50%;
}
.progress-bg .buttons, #profile .buttons, [id$=-inner] .buttons {
  display: flex;
  justify-content: space-between;
}
.progress-bg .buttons button, .progress-bg .buttons label, #profile .buttons button, #profile .buttons label, [id$=-inner] .buttons button, [id$=-inner] .buttons label {
  width: 45%;
  word-wrap: break-word;
  display: inline-block;
  height: auto;
  white-space: normal;
  line-height: 1.6rem;
  padding: 1rem 2.4rem;
}
.progress-bg .buttons button button, .progress-bg .buttons label button, #profile .buttons button button, #profile .buttons label button, [id$=-inner] .buttons button button, [id$=-inner] .buttons label button {
  width: 100%;
}
.progress-bg .buttons label, #profile .buttons label, [id$=-inner] .buttons label {
  padding: 0;
}

.progress-bg {
  width: 50vw;
  box-sizing: content-box;
  text-align: center;
}

#add-inner form {
  width: 100% !important;
}

#profile .fa-pen {
  font-size: 2.4rem;
  margin-left: 1rem;
  cursor: pointer;
}
#profile .overlay {
  z-index: 4;
}

#hold-guide {
  display: flex;
  justify-content: flex-end;
  margin: 0 2rem;
}
#hold-guide #guide-inner img {
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}
#hold-guide #guide-inner h2 {
  display: inline-block;
  border-bottom: 1px solid var(--main-ovca);
}
#hold-guide #guide-inner .buttons button {
  width: auto;
  font-size: 1.2rem;
}
#hold-guide #guide-button {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  cursor: pointer;
}

.overlay--strong {
  background-color: #111b;
}

#consent-inner {
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#consent-inner details {
  overflow-y: auto;
  height: auto;
}
#consent-inner details summary {
  cursor: pointer;
}
#consent-inner details[open] summary {
  margin-bottom: 3rem;
}
#consent-inner details > div {
  display: flex;
  align-items: flex-start;
}
#consent-inner details > div:not(:last-child) {
  margin-bottom: 2rem;
}
#consent-inner details > div div {
  max-width: 80%;
}
#consent-inner details > div div h3 {
  margin: 0;
}
#consent-inner details > div div p {
  margin: 0.5rem 0;
}
#consent-inner details > div div h6 {
  font-style: italic;
  font-size: 1.2rem;
}
#consent-inner details > div .checkbox-container {
  margin: 1.2rem max(10%, 4rem) 0 auto;
}

.text-error {
  color: red !important;
  white-space: pre-line;
}

.text-center {
  text-align: center;
}

.block {
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.dropdown {
  position: relative;
}
.dropdown [class*=fa-angle] {
  transform: translate(1rem, 0);
}
.dropdown section {
  background-color: var(--main-color);
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  border-radius: 0.5rem;
  overflow: hidden;
}
.dropdown section div {
  padding: 1rem 2rem;
}
.dropdown section div p {
  word-break: break-all;
  margin: 1em 0;
  display: block;
  line-height: 0;
  font-size: 1.2rem;
}
.dropdown section div p:last-child {
  color: var(--secondary-ovca);
  font-size: 75%;
}
.dropdown section div:hover {
  background-color: var(--secondary-color);
}

.dropzone-root {
  height: 100%;
  position: absolute;
  z-index: -1;
  width: 100%;
  background-color: var(--secondary-bg-color);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropzone-root h3 {
  line-height: 0;
}

.dir-item:hover {
  background-color: var(--secondary-bg-color);
}

.guide-highligh {
  z-index: 4;
  pointer-events: none !important;
  background-color: inherit;
}

#contact {
  margin-top: 10vh;
  max-width: 600px;
}
#contact .loader {
  font-size: 3rem;
  border-width: medium;
}
#contact ul {
  text-align: left;
  color: var(--secondary-color);
}
#contact ul li::marker {
  color: var(--main-ovca);
  font-weight: 100;
}

#dirlist {
  max-height: 40vh;
  overflow-y: scroll;
  position: relative;
}

#add-tab {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
#add-tab .button-small {
  align-self: flex-end;
}

#nav-account, #login-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#theme-button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
}

#item-menu {
  position: absolute;
  border-radius: 0.25rem;
  background-color: var(--main-bg-color);
  box-shadow: 0 0 0.5rem var(--secondary-bg-color);
  overflow: hidden;
}
#item-menu h5 {
  text-align: center;
  padding: 1rem 4rem;
  margin-bottom: 1rem;
  min-width: 12vw;
}
#item-menu button:not(.hold-buttons button, [id$=inner] button) {
  width: 100%;
  border-radius: 0;
  display: block;
}

#dir-root {
  margin-top: 5vw;
}
#dir-root #hold-table {
  position: relative;
  display: block;
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
  overflow: hidden;
}
#dir-root #hold-table section {
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 50vh;
  background-color: var(--main-bg-color);
}
#dir-root #dir-table {
  width: 100%;
  max-width: 100%;
  margin: 0;
  position: relative;
  display: table;
  word-break: break-all;
}
#dir-root #dir-table tr:last-child td {
  border: none;
}
#dir-root section::-webkit-scrollbar {
  display: none;
}

#no-connection {
  text-align: center;
  margin-top: 10vh;
}

#username span {
  cursor: pointer;
}

#delete-inner em {
  filter: opacity(0.8);
  font-weight: 100;
}

/* Large desktop */
@media (min-width: 1200px) {
  #content {
    width: 60vw;
  }
  #content #contact {
    width: 30vw;
  }
  #content #contact p {
    margin: 4rem 0;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1200px) {
  #content {
    width: 75vw;
  }
  #content #contact {
    width: 40vw;
  }
  #content #contact p {
    margin: 2rem 0;
  }

  .overlay form, .overlay #profile, .overlay [id$=-inner], #tab-overlay form, #tab-overlay #profile, #tab-overlay [id$=-inner] {
    width: 60%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #content {
    width: 85vw;
  }
  #content #contact {
    width: 55vw;
    margin-top: 5vh;
  }

  .overlay {
    padding-bottom: 5vh;
  }

  .overlay form, .overlay #profile, .overlay [id$=-inner], #tab-overlay form, #tab-overlay #profile, #tab-overlay [id$=-inner] {
    width: 80%;
  }

  button {
    font-size: 1.1rem;
    height: 3.6rem;
    line-height: 3.6rem;
    padding: 0 2.4rem;
  }

  .button-small {
    font-size: 0.9rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 2rem;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  button {
    font-size: 1rem;
    height: 3.3rem;
    line-height: 3.3rem;
    padding: 0 2.2rem;
  }

  .button-small {
    font-size: 0.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.8rem;
  }

  #content {
    width: 90vw;
  }
  #content #contact {
    width: 70vw;
  }

  .overlay {
    padding-bottom: 10vh;
  }

  .overlay form, .overlay #profile, .overlay [id$=-inner], #tab-overlay form, #tab-overlay #profile, #tab-overlay [id$=-inner] {
    width: 90%;
  }

  nav > div:last-child {
    width: 100%;
    flex-direction: column !important;
    align-items: flex-end;
  }
  nav > div:last-child > *:last-child {
    margin-top: 1rem;
  }

  #nav-title {
    align-self: flex-start;
  }
}
.text-theme-default .hljs {
  background: #F0F0F0;
  color: #444;
}
.text-theme-default .hljs-comment,
.text-theme-default .token.comment {
  color: #888888;
}
.text-theme-default .hljs-tag,
.text-theme-default .hljs-punctuation,
.text-theme-default .token.tag, .text-theme-default .token.punctuation, .text-theme-default .token.namespace {
  color: #444a;
  font-weight: 400 !important;
  opacity: 1;
}
.text-theme-default .token.tag .token.punctuation, .text-theme-default .token.doctype .token.punctuation {
  font-weight: 400 !important;
  color: inherit;
}
.text-theme-default .hljs-tag .hljs-name,
.text-theme-default .hljs-tag .hljs-attr,
.text-theme-default .token.tag .token.attr-name {
  font-weight: normal;
  color: #444;
}
.text-theme-default .token.operator, .text-theme-default .token.url, .text-theme-default .token.selector {
  color: var(--main-color);
}
.text-theme-default .token.keyword, .text-theme-default .token.property, .text-theme-default .token.punctuation, .text-theme-default .token.atrule {
  color: var(--main-color);
  font-weight: bold;
}
.text-theme-default .hljs-keyword,
.text-theme-default .hljs-attribute,
.text-theme-default .hljs-selector-tag,
.text-theme-default .hljs-meta .hljs-keyword,
.text-theme-default .hljs-doctag,
.text-theme-default .hljs-name, .text-theme-default .token.tag {
  font-weight: bold;
}
.text-theme-default .hljs-type,
.text-theme-default .hljs-string,
.text-theme-default .hljs-number,
.text-theme-default .hljs-selector-id,
.text-theme-default .hljs-selector-class,
.text-theme-default .hljs-quote,
.text-theme-default .hljs-template-tag,
.text-theme-default .hljs-deletion,
.text-theme-default .token.attr-value, .text-theme-default .token.constant, .text-theme-default .token.number, .text-theme-default .token.symbol, .text-theme-default .token.function-definition, .text-theme-default .token.string, .text-theme-default .token.method, .text-theme-default .token.color, .text-theme-default .token.unit, .text-theme-default .token.selector .id, .text-theme-default .token.selector .class {
  color: #880000;
}
.text-theme-default .hljs-title,
.text-theme-default .hljs-section,
.text-theme-default .token.maybe-class-name {
  color: #880000;
  font-weight: bold !important;
}
.text-theme-default .hljs-regexp,
.text-theme-default .hljs-symbol,
.text-theme-default .hljs-variable,
.text-theme-default .hljs-template-variable,
.text-theme-default .hljs-link,
.text-theme-default .hljs-selector-attr,
.text-theme-default .hljs-operator,
.text-theme-default .hljs-selector-pseudo,
.text-theme-default .token.variable, .text-theme-default .token.pseudo-class, .text-theme-default .token.attr-name {
  color: #BC6060;
}
.text-theme-default .hljs-literal,
.text-theme-default .token.boolean {
  color: #78A960;
}
.text-theme-default .hljs-built_in,
.text-theme-default .hljs-bullet,
.text-theme-default .hljs-code,
.text-theme-default .hljs-addition,
.text-theme-default .token.type, .text-theme-default .token.builtin, .text-theme-default .token.char, .text-theme-default .token.inserted {
  color: #397300;
}
.text-theme-default .hljs-meta,
.text-theme-default .token.delimiter {
  color: #1f7199;
}
.text-theme-default .hljs-meta .hljs-string, .text-theme-default .token.cdata, .text-theme-default .token.doctype, .text-theme-default .token.prolog {
  color: #4d99bf;
}
.text-theme-default .hljs-emphasis {
  font-style: italic;
}
.text-theme-default .hljs-strong {
  font-weight: bold;
}

.text-theme-atom-one-light .hljs {
  background: #F0F0F0;
  color: #444;
}
.text-theme-atom-one-light .hljs-comment,
.text-theme-atom-one-light .token.comment {
  color: #a0a1a7;
}
.text-theme-atom-one-light .hljs-tag,
.text-theme-atom-one-light .hljs-punctuation,
.text-theme-atom-one-light .token.tag, .text-theme-atom-one-light .token.punctuation, .text-theme-atom-one-light .token.namespace {
  font-weight: 400 !important;
  color: #e45649;
  opacity: 1;
}
.text-theme-atom-one-light .token.tag .token.punctuation, .text-theme-atom-one-light .token.doctype .token.punctuation {
  font-weight: 400 !important;
  color: inherit;
}
.text-theme-atom-one-light .hljs-tag .hljs-name,
.text-theme-atom-one-light .hljs-tag .hljs-attr,
.text-theme-atom-one-light .token.tag .token.attr-name {
  font-weight: normal;
  color: #e45649;
}
.text-theme-atom-one-light .token.operator, .text-theme-atom-one-light .token.url, .text-theme-atom-one-light .token.selector {
  color: var(--main-color);
}
.text-theme-atom-one-light .token.keyword, .text-theme-atom-one-light .token.property, .text-theme-atom-one-light .token.punctuation, .text-theme-atom-one-light .token.atrule {
  color: var(--main-color);
  font-weight: bold;
}
.text-theme-atom-one-light .hljs-keyword,
.text-theme-atom-one-light .hljs-attribute,
.text-theme-atom-one-light .hljs-selector-tag,
.text-theme-atom-one-light .hljs-meta .hljs-keyword,
.text-theme-atom-one-light .hljs-doctag,
.text-theme-atom-one-light .hljs-name, .text-theme-atom-one-light .token.tag {
  font-weight: bold;
}
.text-theme-atom-one-light .hljs-type,
.text-theme-atom-one-light .hljs-string,
.text-theme-atom-one-light .hljs-number,
.text-theme-atom-one-light .hljs-selector-id,
.text-theme-atom-one-light .hljs-selector-class,
.text-theme-atom-one-light .hljs-quote,
.text-theme-atom-one-light .hljs-template-tag,
.text-theme-atom-one-light .hljs-deletion,
.text-theme-atom-one-light .token.attr-value, .text-theme-atom-one-light .token.constant, .text-theme-atom-one-light .token.number, .text-theme-atom-one-light .token.symbol, .text-theme-atom-one-light .token.function-definition, .text-theme-atom-one-light .token.string, .text-theme-atom-one-light .token.method, .text-theme-atom-one-light .token.color, .text-theme-atom-one-light .token.unit, .text-theme-atom-one-light .token.selector .id, .text-theme-atom-one-light .token.selector .class {
  color: #50a14f;
}
.text-theme-atom-one-light .hljs-title,
.text-theme-atom-one-light .hljs-section,
.text-theme-atom-one-light .token.maybe-class-name, .text-theme-atom-one-light .token.function-definition {
  color: #4078f2;
  font-weight: bold !important;
}
.text-theme-atom-one-light .hljs-regexp,
.text-theme-atom-one-light .hljs-symbol,
.text-theme-atom-one-light .hljs-variable,
.text-theme-atom-one-light .hljs-template-variable,
.text-theme-atom-one-light .hljs-link,
.text-theme-atom-one-light .hljs-selector-attr,
.text-theme-atom-one-light .hljs-operator,
.text-theme-atom-one-light .hljs-selector-pseudo,
.text-theme-atom-one-light .token.variable, .text-theme-atom-one-light .token.pseudo-class, .text-theme-atom-one-light .token.attr-name {
  color: #c18401;
}
.text-theme-atom-one-light .hljs-literal,
.text-theme-atom-one-light .token.boolean {
  color: #986801;
}
.text-theme-atom-one-light .hljs-built_in,
.text-theme-atom-one-light .hljs-bullet,
.text-theme-atom-one-light .hljs-code,
.text-theme-atom-one-light .hljs-addition,
.text-theme-atom-one-light .token.type, .text-theme-atom-one-light .token.builtin, .text-theme-atom-one-light .token.char, .text-theme-atom-one-light .token.inserted {
  color: #0184bb;
}
.text-theme-atom-one-light .hljs-meta,
.text-theme-atom-one-light .token.delimiter {
  color: #a626a4;
  font-weight: 400 !important;
}
.text-theme-atom-one-light .hljs-meta .hljs-string, .text-theme-atom-one-light .token.cdata, .text-theme-atom-one-light .token.doctype, .text-theme-atom-one-light .token.prolog {
  color: #a626a4;
}
.text-theme-atom-one-light .hljs-emphasis {
  font-style: italic;
}
.text-theme-atom-one-light .hljs-strong {
  font-weight: bold;
}

.text-theme-atom-one-dark .hljs {
  background: #F0F0F0;
  color: #444;
}
.text-theme-atom-one-dark .hljs-comment,
.text-theme-atom-one-dark .token.comment {
  color: #5c6370;
}
.text-theme-atom-one-dark .hljs-tag,
.text-theme-atom-one-dark .hljs-punctuation,
.text-theme-atom-one-dark .token.tag, .text-theme-atom-one-dark .token.punctuation, .text-theme-atom-one-dark .token.namespace {
  font-weight: 400 !important;
  color: #e06c75;
  opacity: 1;
}
.text-theme-atom-one-dark .token.tag .token.punctuation, .text-theme-atom-one-dark .token.doctype .token.punctuation {
  font-weight: 400 !important;
  color: inherit;
}
.text-theme-atom-one-dark .hljs-tag .hljs-name,
.text-theme-atom-one-dark .hljs-tag .hljs-attr,
.text-theme-atom-one-dark .token.tag .token.attr-name {
  font-weight: normal;
  color: #e06c75;
}
.text-theme-atom-one-dark .token.operator, .text-theme-atom-one-dark .token.url, .text-theme-atom-one-dark .token.selector {
  color: var(--main-color);
}
.text-theme-atom-one-dark .token.keyword, .text-theme-atom-one-dark .token.property, .text-theme-atom-one-dark .token.punctuation, .text-theme-atom-one-dark .token.atrule {
  color: var(--main-color);
  font-weight: bold;
}
.text-theme-atom-one-dark .hljs-keyword,
.text-theme-atom-one-dark .hljs-attribute,
.text-theme-atom-one-dark .hljs-selector-tag,
.text-theme-atom-one-dark .hljs-meta .hljs-keyword,
.text-theme-atom-one-dark .hljs-doctag,
.text-theme-atom-one-dark .hljs-name, .text-theme-atom-one-dark .token.tag {
  font-weight: bold;
}
.text-theme-atom-one-dark .hljs-type,
.text-theme-atom-one-dark .hljs-string,
.text-theme-atom-one-dark .hljs-number,
.text-theme-atom-one-dark .hljs-selector-id,
.text-theme-atom-one-dark .hljs-selector-class,
.text-theme-atom-one-dark .hljs-quote,
.text-theme-atom-one-dark .hljs-template-tag,
.text-theme-atom-one-dark .hljs-deletion,
.text-theme-atom-one-dark .token.attr-value, .text-theme-atom-one-dark .token.constant, .text-theme-atom-one-dark .token.number, .text-theme-atom-one-dark .token.symbol, .text-theme-atom-one-dark .token.function-definition, .text-theme-atom-one-dark .token.string, .text-theme-atom-one-dark .token.method, .text-theme-atom-one-dark .token.color, .text-theme-atom-one-dark .token.unit, .text-theme-atom-one-dark .token.selector .id, .text-theme-atom-one-dark .token.selector .class {
  color: #98c379;
}
.text-theme-atom-one-dark .hljs-title,
.text-theme-atom-one-dark .hljs-section,
.text-theme-atom-one-dark .token.maybe-class-name, .text-theme-atom-one-dark .token.function-definition {
  color: #61aeee;
  font-weight: bold !important;
}
.text-theme-atom-one-dark .hljs-regexp,
.text-theme-atom-one-dark .hljs-symbol,
.text-theme-atom-one-dark .hljs-variable,
.text-theme-atom-one-dark .hljs-template-variable,
.text-theme-atom-one-dark .hljs-link,
.text-theme-atom-one-dark .hljs-selector-attr,
.text-theme-atom-one-dark .hljs-operator,
.text-theme-atom-one-dark .hljs-selector-pseudo,
.text-theme-atom-one-dark .token.variable, .text-theme-atom-one-dark .token.pseudo-class, .text-theme-atom-one-dark .token.attr-name {
  color: #e6c07b;
}
.text-theme-atom-one-dark .hljs-literal,
.text-theme-atom-one-dark .token.boolean {
  color: #d19a66;
}
.text-theme-atom-one-dark .hljs-built_in,
.text-theme-atom-one-dark .hljs-bullet,
.text-theme-atom-one-dark .hljs-code,
.text-theme-atom-one-dark .hljs-addition,
.text-theme-atom-one-dark .token.type, .text-theme-atom-one-dark .token.builtin, .text-theme-atom-one-dark .token.char, .text-theme-atom-one-dark .token.inserted {
  color: #61aeee;
}
.text-theme-atom-one-dark .hljs-meta,
.text-theme-atom-one-dark .token.delimiter {
  color: #c678dd;
  font-weight: 400 !important;
}
.text-theme-atom-one-dark .hljs-meta .hljs-string, .text-theme-atom-one-dark .token.cdata, .text-theme-atom-one-dark .token.doctype, .text-theme-atom-one-dark .token.prolog {
  color: #c678dd;
}
.text-theme-atom-one-dark .hljs-emphasis {
  font-style: italic;
}
.text-theme-atom-one-dark .hljs-strong {
  font-weight: bold;
}

.text-theme-vs-code .hljs {
  background: #fff;
  color: black;
}
.text-theme-vs-code .xml .hljs-meta {
  color: #c0c0c0;
}
.text-theme-vs-code .hljs-comment,
.text-theme-vs-code .hljs-quote {
  color: #007400;
}
.text-theme-vs-code .hljs-tag,
.text-theme-vs-code .hljs-attribute,
.text-theme-vs-code .hljs-keyword,
.text-theme-vs-code .hljs-selector-tag,
.text-theme-vs-code .hljs-literal,
.text-theme-vs-code .hljs-name {
  color: #aa0d91;
}
.text-theme-vs-code .hljs-variable,
.text-theme-vs-code .hljs-template-variable {
  color: #3F6E74;
}
.text-theme-vs-code .hljs-code,
.text-theme-vs-code .hljs-string,
.text-theme-vs-code .hljs-meta .hljs-string {
  color: #c41a16;
}
.text-theme-vs-code .hljs-regexp,
.text-theme-vs-code .hljs-link {
  color: #0E0EFF;
}
.text-theme-vs-code .hljs-title,
.text-theme-vs-code .hljs-symbol,
.text-theme-vs-code .hljs-bullet,
.text-theme-vs-code .hljs-number {
  color: #1c00cf;
}
.text-theme-vs-code .hljs-section,
.text-theme-vs-code .hljs-meta {
  color: #643820;
}
.text-theme-vs-code .hljs-title.class_,
.text-theme-vs-code .hljs-class .hljs-title,
.text-theme-vs-code .hljs-type,
.text-theme-vs-code .hljs-built_in,
.text-theme-vs-code .hljs-params {
  color: #5c2699;
}
.text-theme-vs-code .hljs-attr {
  color: #836C28;
}
.text-theme-vs-code .hljs-subst {
  color: #000;
}
.text-theme-vs-code .hljs-formula {
  background-color: #eee;
  font-style: italic;
}
.text-theme-vs-code .hljs-addition {
  background-color: #baeeba;
}
.text-theme-vs-code .hljs-deletion {
  background-color: #ffc8bd;
}
.text-theme-vs-code .hljs-selector-id,
.text-theme-vs-code .hljs-selector-class {
  color: #9b703f;
}
.text-theme-vs-code .hljs-doctag,
.text-theme-vs-code .hljs-strong {
  font-weight: bold;
}
.text-theme-vs-code .hljs-emphasis {
  font-style: italic;
}
.text-theme-vs-code .hljs-comment,
.text-theme-vs-code .token.comment {
  color: #007400;
}
.text-theme-vs-code .hljs-tag,
.text-theme-vs-code .hljs-punctuation,
.text-theme-vs-code .token.tag, .text-theme-vs-code .token.punctuation, .text-theme-vs-code .token.namespace {
  font-weight: 400 !important;
  color: #aa0d91;
  opacity: 1;
}
.text-theme-vs-code .token.tag .token.punctuation, .text-theme-vs-code .token.doctype .token.punctuation {
  font-weight: 400 !important;
  color: inherit;
}
.text-theme-vs-code .hljs-tag .hljs-name,
.text-theme-vs-code .hljs-tag .hljs-attr,
.text-theme-vs-code .token.tag .token.attr-name {
  font-weight: normal;
  color: #aa0d91;
}
.text-theme-vs-code .token.operator, .text-theme-vs-code .token.url, .text-theme-vs-code .token.selector {
  color: var(--main-color);
}
.text-theme-vs-code .token.keyword, .text-theme-vs-code .token.property, .text-theme-vs-code .token.punctuation, .text-theme-vs-code .token.atrule {
  color: var(--main-color);
  font-weight: bold;
}
.text-theme-vs-code .hljs-keyword,
.text-theme-vs-code .hljs-attribute,
.text-theme-vs-code .hljs-selector-tag,
.text-theme-vs-code .hljs-meta .hljs-keyword,
.text-theme-vs-code .hljs-doctag,
.text-theme-vs-code .hljs-name, .text-theme-vs-code .token.tag {
  font-weight: bold;
}
.text-theme-vs-code .hljs-type,
.text-theme-vs-code .hljs-string,
.text-theme-vs-code .hljs-number,
.text-theme-vs-code .hljs-selector-id,
.text-theme-vs-code .hljs-selector-class,
.text-theme-vs-code .hljs-quote,
.text-theme-vs-code .hljs-template-tag,
.text-theme-vs-code .hljs-deletion,
.text-theme-vs-code .token.attr-value, .text-theme-vs-code .token.constant, .text-theme-vs-code .token.number, .text-theme-vs-code .token.symbol, .text-theme-vs-code .token.function-definition, .text-theme-vs-code .token.string, .text-theme-vs-code .token.method, .text-theme-vs-code .token.color, .text-theme-vs-code .token.unit, .text-theme-vs-code .token.selector .id, .text-theme-vs-code .token.selector .class {
  color: #c41a16;
}
.text-theme-vs-code .hljs-title,
.text-theme-vs-code .hljs-section,
.text-theme-vs-code .token.maybe-class-name, .text-theme-vs-code .token.function-definition {
  color: #4078f2;
  font-weight: bold !important;
}
.text-theme-vs-code .hljs-regexp,
.text-theme-vs-code .hljs-symbol,
.text-theme-vs-code .hljs-variable,
.text-theme-vs-code .hljs-template-variable,
.text-theme-vs-code .hljs-link,
.text-theme-vs-code .hljs-selector-attr,
.text-theme-vs-code .hljs-operator,
.text-theme-vs-code .hljs-selector-pseudo,
.text-theme-vs-code .token.variable, .text-theme-vs-code .token.pseudo-class, .text-theme-vs-code .token.attr-name {
  color: #3F6E74;
}
.text-theme-vs-code .hljs-literal,
.text-theme-vs-code .token.boolean {
  color: #1c00cf;
}
.text-theme-vs-code .hljs-built_in,
.text-theme-vs-code .hljs-bullet,
.text-theme-vs-code .hljs-code,
.text-theme-vs-code .hljs-addition,
.text-theme-vs-code .token.type, .text-theme-vs-code .token.builtin, .text-theme-vs-code .token.char, .text-theme-vs-code .token.inserted {
  color: #5c2699;
}
.text-theme-vs-code .hljs-meta,
.text-theme-vs-code .token.delimiter {
  color: #643820;
  font-weight: 400 !important;
}
.text-theme-vs-code .hljs-meta .hljs-string, .text-theme-vs-code .token.cdata, .text-theme-vs-code .token.doctype, .text-theme-vs-code .token.prolog {
  color: #643820;
}
.text-theme-vs-code .hljs-emphasis {
  font-style: italic;
}
.text-theme-vs-code .hljs-strong {
  font-weight: bold;
}

input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--main-color);
  border-radius: 0.25rem;
}

input[type=checkbox]:hover ~ .checkmark {
  background-color: var(--secondary-color);
}

input[type=checkbox]:checked ~ .checkmark {
  background-color: var(--main-ovca);
}

input[type=checkbox]:hover:checked ~ .checkmark {
  background-color: var(--secondary-ovca);
}

input[type=checkbox]:disabled {
  pointer-events: none !important;
}

input[type=checkbox]:disabled ~ .checkmark {
  filter: opacity(0.5) !important;
  pointer-events: none !important;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

html {
  min-height: 100vh;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}
nav #nav-title {
  flex-grow: 7;
  display: flex;
  align-items: flex-start;
}
nav #nav-title svg {
  height: 3rem;
}
nav #nav-title h3 {
  margin: 0;
}

nav > div:last-child {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

input[type=checkbox] {
  width: 0.9em;
  height: 0.9em;
  vertical-align: bottom;
  cursor: pointer;
}

label {
  cursor: pointer;
  user-select: none;
}

input {
  color: var(--main-color);
}

input[type=file] {
  display: none;
}

/*# sourceMappingURL=netdrop.css.map */
