button
  background-color: var(--main-color) !important
  border-color: var(--main-color) !important
  color: var(--main-bg-color) !important
  margin: 0 !important

button:hover
  background-color: var(--secondary-color) !important
  border-color: var(--secondary-color) !important
  color: var(--main-bg-color) !important

button.button-clear,
button.button-outline
  background-color: transparent !important
  color: var(--main-color) !important

.button-highlight, button[type="submit"]
  background-color: var(--main-ovca) !important
  border-color: var(--main-ovca) !important
  color: black !important

.button-highlight:hover, button[type="submit"]:hover
  background-color: var(--secondary-ovca) !important
  border-color: var(--secondary-ovca) !important
  color: black !important

.button-highlight.button-clear,
.button-highlight.button-outline
  color: #00ffca !important

button.button-clear
  border-color: transparent !important

button.button-clear:hover
  background-color: var(--secondary-bg-color) !important

.button-small
  font-size: .8rem
  height: 2.8rem
  line-height: 2.8rem
  padding: 0 1.5rem


.button-large
  font-size: 1.4rem
  height: 4.5rem
  line-height: 4.5rem
  padding: 0 2rem

input:focus
  border-color: var(--main-ovca) !important
