:root

  --main-ovca: #00ffca
  --secondary-ovca: #00ddb9

[data-theme="dark"]
      --main-color: #f8f8f8
      --main-bg-color: #080808
      --secondary-bg-color: #181818
      --secondary-color: #e8e8e8

[data-theme="light"]
      --main-color: #080808
      --main-bg-color: #f8f8f8
      --secondary-color: #181818
      --secondary-bg-color: #e8e8e8
