@use "comps/var"
@use "comps/inherit"
@use "comps/extend_milligram"
@use "comps/mp"
@use "comps/loader"
@use "comps/browser"
@use "comps/overlays"
@use "comps/class_misc"
@use "comps/id_misc"
@use "comps/responsive"
@use "text-themes/themes"

html
  min-height: 100vh

body
  background-color: var(--main-bg-color)
  color: var(--main-color)
  margin: 0
  width: 100vw
  overflow-x: hidden

nav
  display: flex
  align-items: center
  justify-content: space-between
  margin: 2rem

  #nav-title
    flex-grow: 7
    display: flex
    align-items: flex-start

    svg
      height: 3rem

    h3
      margin: 0

nav > div:last-child
    flex-grow: 1
    display: flex
    justify-content: space-between

input[type="checkbox"]
  width: 0.9em
  height: 0.9em
  vertical-align: bottom
  cursor: pointer

label
  cursor: pointer
  user-select: none

input
  color: var(--main-color)

input[type="file"]
  display: none
